# Dependency directories
node_modules/
.npm
.yarn-integrity

# Optional caches
.eslintcache
.stylelintcache
.node_repl_history

# Environment variables
.env
.env.*
!.env.example # Keep the example file in version control

# Build artifacts and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Logs
log/
*.log

# Coverage directory
coverage/

# Build directories
build/
dist/
.next/    # Next.js build output
.nuxt/    # Nuxt.js build output
out/      # Next.js output
.cache/   # Gatsby cache
.parcel-cache # Parcel cache

# TypeScript cache
*.tsbuildinfo

# OS and editor files
.DS_Store # macOS
Thumbs.db # Windows
.vscode/
.idea/